// UL container
.widget-area{
	padding-top: map-get($spacers, 3) ;
	padding-bottom:  map-get($spacers, 3);
}

// Default widget
.widget{
	// @include myoutline(red);
	@include media-breakpoint-down(md){
		margin-bottom:  map-get($spacers, 3);
	}

	.widget-title{
		border: solid 1px $primary;
		background-color: $primary;
		color: #fff;
		padding: map-get($spacers, 3);
		font-size: $font-size-lg;
		text-transform: uppercase;
		font-weight: map-get($font-weights, medium);
	}

	& > ul{
		@include list-unstyled;
		margin: 0 12px 0 12px;
	}
}

.widget_search{

	form.search-form{
		// @include myoutline(red);
		display: flex;
		justify-content: center;

		label{
			width: susy-percentage(80%);
			margin-bottom: 0;
		}

		.search-submit{
			width: susy-percentage(40%);
			@extend .btn;
			@extend .btn-primary;
		}

		.search-field{
			height: 40px;
		}
	}
}

.widget-area {
	.gform_widget {
		.gform_wrapper {
			.top-form {
				.gform_body {
					.gform_fields {
						#field_1_6 {
							display:none;
						}
					}
				}
			}
		}
	}
}

#gform_widget-2 {
	h2 {
		padding-top:10px ;
		padding-bottom:10px ;
		margin-top: -(map-get($spacers, 3)) ; 
	}
}