// ---- CTA
.img-full{
	width:100%;
	display:block;
	height: auto;
}

.bg-light-colour{
	background-color: $light;
}

// Pattern
.bg-image{ 
	// @include myoutline(red);
	position: relative;
	background-repeat     : no-repeat;
	background-position   : center center;
	background-size       : cover; 
}

.btn-white{
	background-color: #fff;
	color: $primary;

	&:hover{
		background-color: $secondary;
		color: #fff;
	}
}