// Site Content
.site-content{
	// width: susy-span(12);

	.body-copy{
		// @extend .container;
		// padding: 0 gutter(); 
	}
}

h2, .h2 {
	margin-bottom: 1rem;
}

.lg-scroll-to-top {
	position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 12px 13px;
    background-color: theme-color('secondary');
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    &:hover {
    	background-color: darken(theme-color('secondary'), 15%);
    }
    i {
    	font-size: 15px;
    }
    .fa-chevron-up:before {
    	content: "\f077";
    }
}

.mobile-toggle {
	cursor: pointer;
	.fa-bars:before {
		color: theme-color('primary');
	}
}

// Blog and default archive pages
.blog{

	.site-content{
		// @include myoutline(blue);
		@extend .container;
		display         : flex;
		justify-content : space-between;
		align-items     : flex-start;
		flex-wrap       : wrap;
		padding         : 0 gutter()  gutter() gutter();
		@include media-breakpoint-up(sm){ padding: 0 0 gutter() 0; }

		.body-copy{
			// @include myoutline(red);
			width: span(12); 
			@include media-breakpoint-up(sm){ width: span(12); }
			@include media-breakpoint-up(md){ width: span(8); }
			@include media-breakpoint-up(lg){ width: span(9); }
		}

		.widget-area{
			// @include myoutline(red); 
			width: span(12);
			@include media-breakpoint-up(sm){ width: span(12); }
			@include media-breakpoint-up(md){ width: span(4); }
			@include media-breakpoint-up(lg){ width: span(3); }
		}

	} 


}

p:last-of-type{
	margin-bottom: 0;
}

img {
	max-width:100%;
}

#utility-navbar {
	#menu-utility li {
		a {
			&:hover {
				color: theme-color('secondary');
			}
		}
	}
}

.service-description {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	height:100%;
}

.gform_widget {
	max-width: 304px;
	margin-left: auto;
	margin-right: auto;
	.gform_footer {
		display:flex;
		justify-content: center;
	}
	#gform_submit_button_1 {
		display:flex;
	}
}

.our-product-loop {
	justify-content: space-around;
	img {
		height: 200px;
		width: 300px;
		object-fit: cover;
		display: block;
		margin: auto;
	}
}

.section-img-stretch {
	img {
		height: 100%;
		object-fit: cover;
	}
}

.overlay form {
	ul {
		li:first-child {
			strong {
				font-weight: 900;
			}
		}
	}
}


.slick-prev, .slick-next {
	z-index: 999;
}

.slick-prev:before, .slick-next:before {
	font-family:'Font Awesome\ 5 Free';
	font-weight: 900;
	font-size: 2rem;
	opacity: 1;
	&:hover {
		color: black;
	}
}

.slick-prev:before {
	content: "\f053";
}

.slick-next:before {
	content: "\f054";
}

.gallery-slider {
	width: 100%;
	padding-left: 100px;
	padding-right: 100px;
	margin-top: 20px;
	img {
		height: 200px;
		object-fit: cover;
		padding: 20px;
		width: 100%;
	}

	&.slick-dotted.slick-slider {
		margin-bottom: 45px;
	}

	.slick-dots {
		bottom: -35px;
		left: 0;
		li button:before {
			content:"";
			width: 20px;
			height: 2px;
			background: black;
		}
	}

	.slick-prev,
	.slick-next {
	    font-size: 0;
	    position: absolute;
	    bottom: 20px;
	    color: #d5122f;
	    border: 0;
	    background: none;
	    z-index: 1;
	}

	//

	.slick-prev {
	    left: 20px;
	}

	.slick-prev:before {
	    color: rgba(155, 133, 104, .5);
	    font-weight: bold;
	    font-size: 30px;
	}

	.slick-next {
	    right: 20px;
	    text-align: right;
	}

	.slick-next:before {
	     color: rgba(155, 133, 104, .5);
	     font-weight: bold;
	     font-size: 30px;
	}

	.slick-prev:hover:before,
	.slick-next:hover:before {
	    color: #7e7e7e;
	}
}

#menu-footer-menu li a {
	font-size: 16px;
}

.contact-us #gform_fields_1 .field_description_below:first-child {
	display: none;
}

.contact-us .grid-2-column {
	a:hover {
		color: theme-color('secondary');
	}
}

.our-railings {
	img {
		height: 250px;
		object-fit: cover;
	}
	a {
		margin-top: 30px !important;
	}
}

.header-call a {
	font-size: 20px;
}

.top-banner-text {
	display: none;
	h2 {
		color: #fff !important;
		}
	a {
		padding: 0.75rem 1rem;
		background-color: theme-color('secondary');
		color: white;
		border-radius: 10px;
	}
} 

@media screen and (min-width:768px){
	.mobile-menu-item {
		display: none;
	}
}

@media screen and (max-width:1024px){
	.feature-slider-wrap {
		.slick-arrow {
			display: none !important;
		}
	}
}


@media screen and (max-width:992px){
	#main-navbar .navbar-nav .nav-link {
		font-size: 16px !important;
	}

	.cta-block {
		padding-left: 20px;
		padding-right: 20px;
		a {
			margin-left: 0 !important;
			margin-top: 15px;
		}
	}
}

@media screen and (max-width:767px){
	.feature-slider-wrap .overlay_wrap {
		position: absolute !important;
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		.top-banner-text {
			display: block;
		}
	}

	.gallery-slider {
		.slick-arrow {
			display: none !important;
		}
	}

	header { // responsive menu
		box-shadow: 0 2px 2px #e7e7e7 !important;
		&.site-header .header-content .header-main .site-branding .logo {
			width: 120px;
		}
		.main-navigation {
			.container {
				padding-left: 0;
				padding-right: 0;
				ul li a {
					padding-left: 15px;
				}
			}
		}
	}

	.gallery-slider {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media screen and (max-width:420px){
	.site-header .header-content .header-main .site-branding .logo {
		width: 100px !important;
	}
}


