// Site Footer 
.site-footer{


	// Main Content Area
	#site-footer{
		>div{
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
			flex-direction: row;

			.site-footer-alpha, 
			.site-footer-bravo,
			.site-footer-charlie {
				// padding: gutter();
			}

			.site-footer-alpha{ 
				width: 100%;
				@include media-breakpoint-up(sm){ width: 150px; }
				@include media-breakpoint-up(lg){ width: 150px; }
			}

			.site-footer-bravo{ 
				width: 100%;
				@include media-breakpoint-up(sm){ width: calc( 100% - 200px ); }
				@include media-breakpoint-up(lg){ width: calc( 100% - 550px ); }
				.menu-footer-menu-container {
					ul li a:hover {
						color: theme-color('secondary');
					}
				}
			}

			.site-footer-charlie{ 
				width: auto;
				.textwidget div {
					>p:last-child {
						a:hover {
							color: theme-color('secondary');
						}
					}
				}
			}
		}

		.footer-title{
			display: inline-block;
			font-size: 1.1rem;
			margin-bottom: 8px;
		}
		.footer-phone{
			font-size: 1.2rem;
		}
	}


	// The tiny site legal footer area.
	#site-legal{
		background-color: $site-legal-bg-color;
		>div{
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			color: $site-legal-text-color;
			border-top: 2px solid $primary;
			@include font-size($fs-map: $site-legal-font-size, $fs-breakpoints: $grid-breakpoints);

			a { 
				color: $site-legal-link-color; 
				&:hover {
					color: theme-color('secondary');
				}
			}

			.site-info{
				width: susy-span(12);
				text-align: center;
				margin-bottom: 5px;

				@include media-breakpoint-up(sm){
					width: susy-span(6);
					text-align: left;
					margin: 0;
				}
			}

			.site-longevity{
				width: susy-span(12);
				text-align: center;


				@include media-breakpoint-up(sm){
					width: susy-span(6);
					text-align: right;
				}
			}
		}
	}

	.custom-logo-link{
		width: 100%;
		img {
			width: 100%;
			max-width: 150px;
		}
		
	}

}


.site-footer-charlie {
	#text-2 {
		margin-bottom: 0;
	}
	.textwidget {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		p {
			text-align: right;
			&:last-child {
				.footer-title {
					margin-bottom: 0 !important;
				}
			}
		}

	}
}

@media screen and (max-width:767px) {
	#site-footer {
		.container {
			flex-direction: column !important;
			align-items: center !important;
			.site-footer-bravo {
				width: 100% !important;
			}
		 	.site-footer-charlie {
				.textwidget {
					p {
						text-align: center;
					}
				}
			}
		}
	}
}