$utility-bar-background-color: $primary;

.site-header{
	box-shadow: $header-box-shadow;
	z-index: 999;

	.mobile-toggle,.navbar-header{
		display: none;
	}

	&.sticky-header{
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		background-color: $sticky-header-bg-color;
		display: none;

		.mobile-toggle{
			font-size: 25px;
			cursor: pointer;
		}
	}

	.header-content{
		.utility-bar{

			@include font-size($fs-map: $utility-bar-font-size, $fs-breakpoints: $grid-breakpoints);
			background-color: $utility-bar-background-color;
			padding: $utility-bar-padding;
			display:none;

			@include media-breakpoint-up(sm){
				display:block;
			}

			>div{
				display: flex;
    			justify-content: space-between;

    			.left{
    				display:flex;
    				align-items:center;

					.header-address{

    					color: #fff;

    					.fa-map-marker{

    						color: theme-color('secondary');
    						font-size:15px;

    					}
					}
    			}
    			.right{
					display:flex;
					align-items:center;

					>div{
						padding-left:15px;

						span{
							color:#fff;
						}

						i{
							color: theme-color('secondary');
							font-size:15px;
						}
					}
    			}
			}
		}

		.header-main{
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
			padding: gutter() 0;
			
			.site-branding{
				.logo{
					width: $header-logo-width;

					@include media-breakpoint-up(sm){
						width: $header-logo-width-sm;
					}

					@include media-breakpoint-up(md){
						width: $header-logo-width-md;
					}

					img{
						width:100%;
						display:block;
					}
				}
			}

			.main-navigation{
				background-color: $navbar-default-bg;
				.navbar-nav{
					a{
						@include font-size($fs-map: $navbar-font-sizes, $fs-breakpoints: $grid-breakpoints);
						color: $navbar-font-color;
						opacity: $navbar-font-opacity;
						text-transform: $navbar-text-format;
					}
				}
			}

			@include media-breakpoint-down(sm){

				&{
					padding:0;

					.site-branding{
						display:flex;
						justify-content: space-between;
						align-items: center;
						width: 100%;
						padding: gutter() / 2;

						.mobile-toggle{
							display:block;
						}
					}
				}


				.main-navigation{
					width:100%;
					background-color: $navbar-bg-color-xs;

					.navbar{
						border: 0;

					    .navbar-collapse{
					    	margin:0;
					    	overflow:hidden;
					    	padding: gutter() 0;

					    	a{
					    		color: $navbar-font-color-xs;
					    		opacity: $navbar-font-opacity-xs;
					    		text-transform: $navbar-text-format-xs;
					    	}

					    	.navbar-nav{
					    		margin:0;

					    	}
					    }
					}
				}
			}
		}

		.site-utility{
			display: flex;
			align-items: flex-start;
			.navbar{
				margin-top: 1px;
			}
			.nav-link{
				padding-top: 0;
				padding-bottom: 0;
				font-size: 1.1rem;
			}
			.header-call {
				.hc-name {
					font-size:.9rem;
				}
			}
		}
	}
}